/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0; /*Initialise les marges du documents*/
}

/* Global var */
:root {
    --main-color: #0065FC; /*Bleu*/
    --main-bg-color: #F2F2F2; /*Gris pour le fond*/
    --filter-bg-color: #DEEBFF; /*Bleu clair*/
}
/*  */

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/**************************/
/****** header ************/
/**************************/

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;  
}

 .logo-header {
    width: 61.09px;
    height: 19px;
 }

 /* NAV */
 .header-nav {
    width: 250px;
    height: 100%;
 }

.list-nav {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 50px;
    padding-left: 0; /* Supprime le remplissage par défaut de la liste*/
}

.nav-items {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0; /* Supprime la marge par défaut de la liste */
}

.nav-items:hover {
    border-top: 3px solid var(--main-color);
    color :var(--main-color);
}
/***************************/
/****** END OF HEADER ******/
/***************************/

/*******************************************/
/*********** info-grp Container ************/
/*******************************************/

.info-grp {
    margin-bottom: 35px;
}
/****** Title of the webpage ********/
h1 {
    font-size: 22px;
}

.info {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 35px;
}

/******* Search Form ******/
.form-search {
    display: flex;
    /* flex-direction: row;  */
    justify-content: left;
    width: 377px;
    height: 50px;
    margin-bottom: 35px;
    border: 1px solid var(--main-bg-color);
    border-radius : 10px;
}

.form-search .fa-location-dot {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    margin : 0;
}

.form-search input {
    width: 195px;
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 18px;
    border: none;
}

.form-search input::placeholder {
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 18px;
}

.button-search {
    width: 132px;
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.1px solid var(--main-color);
    font-size: 18px;
}

.fa-magnifying-glass {
    display: none;
}

/****** Filters **********/
.filter {
    width: 758px;
    display: flex;
    justify-content: left;
    margin-bottom: 35px;
}

.filter-title {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.filter-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-filter {
    height: 50px;
    font-size: 16px;
    background-color: white;
    border: 2px solid var(--filter-bg-color);
    border-radius: 25px;
    padding: 0px 19px;
    margin-left: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.btn-filter i {
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-money-bill-wave {
    font-size: 22px;
}

.btn-filter:hover {
    background-color: var(--filter-bg-color);
}

/* Small sentence of information with icone */
.info-logements {
    display: flex;
    justify-content: left;
    align-items: center;
} 

.info-logements-txt {
    font-size: 16px;
}

.circle {
    width: 24px;
    height: 24px;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-i {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    font-family: "Solway", serif;
}
/*******************************************/
/*********** END OF info-grp Container ************/
/*******************************************/

/******Card General******/
.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
}

.card img, .fig-activites img {
    object-fit: cover;
    width: 100%;
    display: block; /* Supprime les espaces blancs autour de l'image */
}

.card-title, .fig-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-rating {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.fa-star {
    margin-right: 2px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Section Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements .section-title {
    margin-bottom: 30px;
}

.hebergements-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.hebergements-line a {
    width: 30%;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
}

.hebergements img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements .card-rating {
    margin-top: 8px;
    margin-bottom: 10px;
}

/****** Section Populaires ***********/
.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.populaires .card {
    display: flex;
    margin-top: 30px;
}

.populaires img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires .card-subtitle {
    margin: 0;
}

.populaires .card-rating {
    margin-bottom: 5px;
}

/****** Section Activités ************/

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 65px;
    padding-left: 30px;
    padding-right: 30px;
}

.fig-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; 
}

.fig-list a {
    display: flex;
    flex-direction: column;
    width: 23%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    background-color: #fff;
    border-radius: 20px;
}

.fig-activites img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

.fig-title {
    margin : 20px 0px 20px 19px;
}

.activites .section-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

/****** Footer **********/

footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-title {
    font-size: 18px;
}

.footer-list {
    list-style-type: none;
    padding-left: 0; /* Supprime le remplissage par défaut de la liste*/
    font-size: 14px;
}

.footer-txt-1, .footer-txt-2, .footer-txt-3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 33.33%;
    padding: 20px 0px 20px 20px;
}

.footer-list li {
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /* Filter */
    .filter {
        width: 668px;
        flex-direction: column;
    }

    .btn-filter {
        margin-left:0px;
        margin-top: 20px;
    }

    /* Sections hebergement & populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .fig-activites img {
        height: 200px;
    }

    /****** Footer ******/
    .footer-txt-1, .footer-txt-2, .footer-txt-3 {
        width: 288px;
    }

    .footer-txt-2 {
        margin : 0px 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        padding: 0px;
    }

    /****** Header ******/
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    .logo-header {
        padding: 30px 0px;
    }

    .header-nav {
        width: 100%;     
    }

    .nav-items {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid var(--main-bg-color);
    }

    .nav-items:hover {
        border-top: hidden;
        border-bottom: 3px solid var(--main-color);
        color :var(--main-color);
    }

    /****** info-grp *****/
    .info-grp {
        padding: 0px 20px;
    }

    /****** Search ******/

    .form-search {
        width: 100%;
        border-radius: 10px 15px 15px 10px;
    }

    .form-search input {
        width: 100%;
    }

    .button-search {
        width: 50px;
        border-radius: 15px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    }

    .button-search b {
        display: none;
    }

    .fa-magnifying-glass {
        display:inherit;
        font-size: 17px;   
        color:white;
    }

    /****** Filter ******/
    .filter {
        width: 100%;
        flex-direction: column;
    }

    .filter-option {
        width: 100%;
        flex-wrap: wrap;
    }

    .btn-filter {
        font-size: 14px;
        width: 48%;
    }

    /****** Sections Populaires & Hébergement ******/
    .hebergements-and-populaires section {
        background-color:#fff;
        border-radius: 0px;
        padding: 0;
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .populaires{
        background-color: var(--main-bg-color);
        padding: 30px 20px 30px 20px;
        margin-bottom: 15px;
    }

    .hebergements-line {
        margin: 0;
        padding: 0;
    }

    .hebergements-and-populaires .hebergements{
        padding: 20px;
    }

    .hebergements-line, .populaires-cards {
        flex-direction: column;
    }

    .hebergements-and-populaires a {
        width: 100%;
    }

    .hebergements .section-title {
        margin-bottom: 0px;
    }

    .hebergement-plus {
        margin-top:15px;
    }

    .populaires .card {
        margin-top: 15px;
    }

    .card {
        margin-top: 15px;
    }
    
    /****** Section Activités ******/
    .activites {
        padding: 0px 30px 15px 30px;
        margin-bottom: 35px;
    }

    .fig-list {
        flex-direction: column;
        margin: 0;
    }

    .fig-list a {
        width: 100%;
        margin-bottom: 15px;
    }

    /****** Footer ******/
    footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-txt-1, .footer-txt-2, .footer-txt-3 {
        padding: 0px;
    }

    .footer-txt-2 {
        margin: 50px 0px;
    }
}

/* Very small devices (phones, less than 360px) */
@media (max-width: 360px) {

    .btn-filter i {
        display: none;
    }

    .btn-filter {
        display: flex;
        justify-content: center;
    }
}